*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}
.d-flex{
    display: flex;
    flex-wrap:wrap ;
    /* justify-content: space-between; */
}
.main{
    display: flex;
}
.p-20{
    padding: 20px;
}
.img{
    border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
    border-right: 1px solid rgba(0, 0, 0, 0.0625);
}
.container{
   /* border: 1px solid red;; */
}
.container-fluid{
   margin-top: 20px;
    border: 1px solid red;
    width:200px;
}

/* .container1{
    position: fixed;
    top: 0;
    left: 0;
    width:15%;
    border-right: 1px solid rgba(0, 0, 0, 0.0625);
    background-color: white;
} */
.navbar{
   width: 100%;
    /* border: 1px solid red;; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.ad a{
    text-decoration: none;
    color: #313435;

    text-align: center;
    font-size: 17.5px;
    letter-spacing: 0.5px;
    font-weight: 500;
  
   font-family: Roboto, -apple-system, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
.border{
    border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
}
.space-between{
    justify-content: space-between !important;
}
.icons{
    border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
    text-align: center;
    min-height: 65px;
}

.fa-bars{
    padding: 10px 15px;
    color: #72777a;

}
.fa-magnifying-glass{
    padding: 10px 15px;
    color: #72777a;
}
.body{
    background-color: #f9fafbb6 ;
}
.fa-bell{
    color: #72777a;
    padding-right: 20px;
}
.fa-envelope{
    color: #72777a;
    padding-right: 20px;
}
.pic img{
    width: 30px;
    border-radius: 50%;
    /* margin-top: 20px; */
}
.boxes{
   border: 1px solid red;
    justify-content: space-around;
    
}
.justify{
    justify-content: start;
    align-items: start;
}
.p-10{
    padding: 10px;
}
.box1{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}
.justify-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mr-10{
    margin-right: 10px;
}
.deo{
    text-decoration: none;
    font-family: Roboto, -apple-system, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 13.5px;
    color: #313435;
    letter-spacing: 0.2px;
}
.big{
    padding: 16.5px;
}
.big1{
    padding: 16.5px;
}
.fa-house{
    color:skyblue;
    padding-left: 19px;
}
.ri-mail-line{
    color:black;
    padding-left: 20px;
}
.fa-chart-line{
    color:skyblue;
    padding-left: 20px;
}
.text1 a{
    text-decoration: none;
    font-family: Roboto, -apple-system, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 17.5px;
    color: #313435;
}
.boxs{
    border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
}
.fa-calendar-days{
    color:rgba(255, 102, 0, 0.767);
    padding-left: 20px;
}
.fa-comment-dots{
    color: purple;
    padding-left: 20px;
}
.fa-chart-simple{
    color: blue;
    padding-left: 20px;
}
.fa-pen{
    color:skyblue;
    padding-left: 20px;
}
.fa-palette{
    color:red;
    padding-left: 20px;
}
.fa-table{
    color:rgba(255, 102, 0, 0.767);
    padding-left: 20px;
}
.fa-map{
    color: purple;
    padding-left: 20px;
}
.fa-file{
    color:red;
    padding-left: 20px;
}
.fa-list{
    color:green;
    padding-left: 20px;
}
.d-flex1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.menu i{
    padding-right:10px ;
}
.menu a{
    text-decoration: none;
    font-family: Roboto, -apple-system, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    color: #72777a;
    letter-spacing: 0.2px;
}
.icon1{
    padding-top: 20px;
}
.icon1 a{
    text-decoration: none;
}
.pt-10{
    padding-top: 10px;
}
.pb-10{
    padding-bottom: 10px;
}
.total{
    border:1px solid red;
}
 .container{
    /* border:1px solid red; */
    width:85%;
 
} 
.box2{
    border: 1px solid rgba(0, 0, 0, 0.0625); 
    border-left: 1px solid rgba(0, 0, 0, 0.0625);
    width:15%;
    justify-content: space-between;
    height: 100vh;
}
.align-center{
    align-items: center;
}
.text2 a{
    text-decoration: none;
    font-family: Roboto, -apple-system, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    padding-left: 20px;
    color:black;
    font-size: 15px;
    color: #72777a;
}
.text2{
    padding-top: 20px;
}

.sidebar{
    width: 300px;
}